<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AuthSAML</name>
        <type>plugin</type>
        <creationDate>2018-08-144</creationDate>
        <lastUpdate>2024-02-26</lastUpdate>
        <author>Frank Niesten, Panagiotis Karatakis, Denis Chenu and other contributo</author>
        <authorUrl>https://github.com/Shnoulle/Limesurvey-SAML-Authentication/graphs/contributors</authorUrl>
        <supportUrl>https://support.sondages.pro/</supportUrl>
        <version>1.0.0-alpha1</version>
        <license>GNU General Public License v3.0</license>
        <description><![CDATA[LimeSurvey SAML authentication]]></description>
    </metadata>
    <compatibility>
        <version>3</version>
        <version>4</version>
        <version>5</version>
        <version>6</version>
    </compatibility>
    <updaters disabled="disabled"></updaters>
</config>
